<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>   
<body>
	<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
    </nav>
    <div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="background:red">TEXT</div>
        Here!!
    </div>
</div>
    <% include partials/templates/footer.ejs %>
</body>
</html>