<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/templates/head.ejs %>
    <title>Need Ride</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/need.css"/>
    </head>
    <body>
        <% include partials/templates/header.ejs %>
        <h1>I need a ride</h1>
        <div>
            <form>
                <div class="form-group1">
                    <label for="source_loc">Source Location</label>
                    <input type="text" class="form-control" id="source_loc" placeholder="Source">
                </div>
                <div class="form-group2">
                    <label for="dest_loc">Destination Location</label>
                    <input type="text" class="form-control" id="dest_loc" placeholder="Destination">
                </div>
                <div class="form-group3">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group4">
                    <label for="time">Time</label>
                    <input type="text" class="form-control" id="time" placeholder="HH:MM (24hr-format)">
                </div>
            </form>
        </div>
        <section>
            
            <button class='dotted thick'>Show Rides</button>
        </section>
        <% include partials/templates/footer.ejs %>
    </body>
</html>