<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/templates/head.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/options.css"/>
    <title>Options</title>
     
    </head>
    <body>
            <% include partials/templates/header.ejs %>
                <div>
                        FHHJKJHJGJHJHKHHFHGFHGJGKKJHGJ  
                </div>                
                   <div class="container content">
                        <div class="row">
                            <div class="Absolute-Center is-Responsive">
                                <h1>Generous or Needy, we got a solution for all!!</h1>
                                <section>
                                    <button class='dotted thick'>Post Ride</button>
                                    <button class='dotted thick'>Need Ride</button>
                                </section>
                            </div> 
                        </div>
                    </div>
        
    </body>
</html>